log/*
install/*
build/*
src/demo_img/*

src/mecharm/*

src/myArm/*

src/Mybuddy/*

src/mycobot_280/*

src/mycobot_320/*


src/mycobot_communication/*

src/mycobot_description/*


src/mycobot_pro/*


src/mypalletizer_260/*

src/ultraArm/*
src/ARM_PKG/ARM_PKG/nodes/__pycache__/*
